<h2>List of authors <button type="button" class="btn btn-success btn-sm">Make request post</button></h2>
<table datatable [dtOptions]="optionsDataTable" [dtTrigger]="dtTrigger" class="table">
	<thead>
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let author of listAuthors">
			<tr>
				<td>{{ author.FirstName }}</td>
				<td>{{ author.LastName }}</td>
				<td>
					<button type="button" class="btn btn-info btn-sm" (click)="open(author.IDBook)">Show book</button>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>